<%%= simple_form_for([@<%= singular_table_name %>.<%= nested_parent_name %>, @<%= singular_table_name %>]) do |f| %>
  <%%= f.error_notification %>

  <div class="inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    or <%%= link_to "Cancel", @<%= singular_table_name %>.persisted? ? <%= nested_parent_name %>_<%= singular_table_name %>_path : <%= nested_parent_name %>_<%= plural_table_name %>_path %>
  </div>
<%% end %>

